{% extends 'base_layout.html' %}

{% block section-title %}
Login
{% endblock %}

{% block content %}
<form class="d-flex flex-column" action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    {% include 'form.html' with form=form %}
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}
    <input type="submit" class="btn btn-dark" value="Login">
</form>
{% endblock %}