<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>Microlly</title>
</head>

<body>
    <header>
            <div>
                 <div class="container text-center">
                     <h1>Microlly</h1>
                 </div>
             </div>
        <nav class="navbar navbar-expand-sm ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navDropdown">
                <ul class="navbar-nav mx-4">
                    <li class="nav-item mx-1">
                        <form class="form-inline" action="{% url 'microlly_blog:index' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">HOME</button>
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-1">
                        <form class="form-inline" action="{% url 'microlly_blog:create' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Création de publication</button>
                        </form>
                    </li>
                    <li class="nav-item mx-1">
                        <form class="form-inline" action="{% url 'accounts:logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Déconnexion</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item mx-1">
                        <form class="form-inline" action="{% url 'accounts:login' %}" method="POST">
                            {% csrf_token %}
                            <button  type="submit">Connexion</button>
                        </form>
                    </li>
                    <li class="nav-item mx-1">
                        <form class="form-inline" action="{% url 'accounts:signup' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">S'inscrire</button>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <section class="main-section">
        <div class="container">
            <br>
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
</html>